<!DOCTYPE html>
<html>
  <head>
    <title>How To Play - Multiplayer Battle Game</title>
    <link href="/css/style.css" rel="stylesheet">
    <link href="/css/index.css" rel="stylesheet">
    <link rel="icon" href="/img/icons/favicon.png">
  </head>
  <style>
    p {
      font-size:25px;
      margin:20px;
    }
  </style>
  <body>
    <div class="page">
      <%- include("nav.html") %>
      <div class="main-content">
        <h1>How To Play</h1>
        <p>Choose your character in the join page, then join a room or play against the computer.</p>
        <p>You'll have to choose your move, and so will your opponent. Each player starts with 100 health. Your move will either do damage to your opponent or yourself, or heal yourself.</p>
        <p>Whoever loses all their health loses, and the other player wins.</p>
        <p>Have fun!</p><br>
        <img src="/img/demo.png" id="demo"><br><br>
      </div>
    </div>
  </body>
</html>