<!DOCTYPE html>
<html>
  <head>
    <title>How To Play - MultiPong</title>
    <link href="/css/style.css" rel="stylesheet">
    <link href="/css/index.css" rel="stylesheet">
    <link rel="icon" href="/img/icons/favicon.png">
  </head>
  <style>
    p {
      font-size:25px;
      margin:20px;
    }
  </style>
  <body>
    <div class="page">
      <%- include("nav.html") %>
      <div class="main-content">
        <h1>How To Play</h1>
        <p>When you play, remember that you are always on the right side, and your opponent is always on the left side. To move your paddle, use the up and down arrow keys.</p>
        <p>Use your paddle to hit the ball. If you miss, your opponent will gain a point. The first player to ten points wins.</p>
        <p>Have fun!</p><br><br>
        <img src="/img/demo.gif"><br><br>
      </div>
    </div>
  </body>
</html>