<!DOCTYPE html>
<html>
  <head>
    <title>Multiplayer Battle Game</title>
    <link href="/css/style.css" rel="stylesheet">
    <link href="/css/game.css" rel="stylesheet">
    <link rel="icon" href="/img/icons/favicon.png">
  </head>
  <body>
    <div class="page">
      <%- include("nav.html") %>
      <div class="main-content">
        <div id="player1">
          <img id="player1-image" src="/img/characters/<%= othercharacter %>.png"><br>
          <p><%= othercharacter %> (<%= otheruser %>)</p>
        </div>
        <div id="player2">
          <img id="player2-image" src="/img/characters/<%= character %>.png"><br>
          <p><%= character %> (<%= user %>)</p>
        </div>
      </div>
    </div>
    <script>
      const character = "<%= character %>";
      const otheruser = "<%= otheruser %>";
      const othercharacter = "<%= othercharacter %>";
      const room = "<%= room %>";
    </script>
    <script src="/js/modal.js"></script>
    <script src="/js/game/helper.js"></script>
    <script src="/js/game/character.js"></script>
    <script src="/js/game/all.js"></script>
    <script src="/js/game/player2.js"></script>
  </body>
</html>