<!DOCTYPE html>
<html>
  <head>
    <title>Multiplayer Battle Game</title>
    <link href="/css/style.css" rel="stylesheet">
    <link href="/css/player2.css" rel="stylesheet">
    <link rel="icon" href="/img/icons/favicon.png">
  </head>
  <body>
    <div class="page">
      <%- include("nav.html") %>
      <div class="main-content">
        <div id="player2">
          <img id="player2-image" src="/img/characters/<%= character %>.png"><br>
          <p id="names"><%= character %> (<%= user %>)</p>
          Health: <span id="health">100</span><br><progress id="progress" value="100"></progress>
          <p id="player2-message"></p>
          <div id="player2-moves"></div>
        </div>
        <div id="player1">
          <img id="player1-image" src="/img/characters/<%= othercharacter %>.png"><br>
          <p id="othernames"><%= othercharacter %> (<%= otheruser %>)</p>
          Health: <span id="otherhealth">100</span><br><progress id="otherprogress" value="100"></progress>
          <p id="player1-message">Other player's turn to choose their move.</p>
        </div>
        <div id="chat">
          <h1>Chat!</h1>
          <div id="messages"></div>
          <input type="text" placeholder="Type your message here...">
        </div><br><br><br><br><br><br>
        <h1 id="allmoves-h1">Moves</h1>
        <div id="allmoves">
          
        </div>
      </div>
    </div>
    <script>
      const character = "<%= character %>";
      const otheruser = "<%= otheruser %>";
      const othercharacter = "<%= othercharacter %>";
      const room = "<%= room %>";
    </script>
    <script src="/js/modal.js"></script>
    <script src="/js/game/helper.js"></script>
    <script src="/js/game/character.js"></script>
    <script src="/js/game/all.js"></script>
    <script src="/js/game/player2.js"></script>
  </body>
</html>